configparser>=4.0.2
cycler>=0.10.0
Cython>=0.29.14
kiwisolver>=1.1.0
matplotlib>=3.1.2
numexpr>=2.7.1
numpy>=1.18.1
pyparsing>=2.4.6
qtpy>=2.4.3
PySide6>=6.6; platform_machine == "aarch64" and sys_platform == "linux"
PyQt5>=5.14.1; platform_machine != "aarch64" or sys_platform != "linux"
python-dateutil>=2.8.1
six>=1.13.0
tables>=3.6.1
-e git+https://github.com/revoltek/losoto#egg=losoto
